.container {
  display: grid;
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(4, 265px);
    justify-content: space-between;
    margin-top: 45px;
    row-gap: 70px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 265px);
    justify-content: space-between;
    margin-top: 45px;
    row-gap: 70px;
  }
}

@media (min-width: 640px) and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 265px);
    justify-content: space-between;
    margin-top: 45px;
    row-gap: 70px;
  }
}

@media (max-width: 640px) {
  .container {
    grid-template-columns: 265px;
    justify-content: center;
    row-gap: 35px;
  }
}
