.container {
  position: relative;
  min-width: 200px;
  z-index: 30;
  border-radius: 5px;
  cursor: pointer;
  .item_selected {
    background-color: var(--elements-color);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 5px var(--shade-color);
    p {
      margin: 0;
    }
    .arrow {
      display: flex;
    }
  }

  .select_list {
    display: none;
    .select_list__content {
      border-radius: 5px;
      list-style: none;
      text-align: start;
      background-color: var(--elements-color);
      padding: 5% 0 5% 22.5px;
      margin-top: 5px;
      box-shadow: 0 0 5px var(--shade-color);
      li {
        padding: 2% 0;
      }
    }
  }
}
