.button {
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    user-select: none;
    span {
      margin-left: 10px;
    }
  }
  cursor: pointer;
}
