.container {
  position: relative;
  width: 37%;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  box-shadow: 0 0 5px var(--shade-color);
  border-radius: 5px;
  background-color: var(--elements-color);

  .icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
  }
  input {
    background-color: transparent;
    color: var(--input-color);
    font-family: "Nunito Sans", sans-serif;
  }
  input:focus {
    outline: none;
  }
  input::placeholder {
    color: var(--input-color);
  }
  .search {
    width: 100%;
    margin: 0;
    height: 100%;
    border: none;
    padding-left: 5%;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}
