@import "../../assets/styles/Transitions.scss";

@media screen and (max-width: 640px) {
  .button {
    margin: 0px 8px 8px 0px;
    width: 95px;
  }
}

@media screen and (min-width: 640px) {
  .button {
    margin: 4px;
    width: 100px;
  }
}

.button {
  height: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 5px var(--shade-color);
  background-color: var(--elements-color);
  color: var(--text-color);
  @include transition-themes(box-shadow, background-color, color);
}

.text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
