.container {
  border-radius: 7px;
  overflow: hidden;
  width: 265px;
  height: 335px;
  box-shadow: 0 0 5px var(--shade-color);
  background-color: var(--elements-color);
  .content__text {
    padding-left: 5%;

    .paragraph {
      margin: 0;
    }
  }
  .wrapper__img {
    position: relative;
    height: 47%;

    .country_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
