.container {
  border-radius: 7px;
  cursor: pointer;
  overflow: hidden;
  width: 265px;
  height: 335px;
  box-shadow: 0 0 5px var(--shade-color);
  background-color: var(--elements-color);
  transition: box-shadow 2s;
  .content__text {
    padding-left: 25px;
    h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .paragraph {
      margin: 0;
      line-height: 1.8;
      strong {
        font-weight: 600;
      }
    }
  }
  .wrapper__img {
    position: relative;
    height: 47%;

    .country_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
